.navbar-brand {
  font-size: 38px;
}

.search-header {
  font-size: 26px;
  font-weight: bold;
}

.city-name {
  font-size: 40px;
}

.forecast-date {
  font-size: 22px;
}

.bg-primary {
  background-color: rgb(255, 0, 0) !important;
}

html {
  background-color: black !important;
}
